
.global-header .nav-links .secondary a.sign-in-btn, .global-header .nav-links .secondary .nav-item a.shopping-cart {
        background-color: #1D305E !important
}

.global-header .nav-links .secondary a.register-btn {
        background: #10163D !important;
        color: white
}

a:not(.btn), a:visited:not(.btn) {
        color: #54A3DA !important
}

.courses-container .courses .course .course-info .course-title {
        color: #10163D !important
}
.login-button {
        background: #54A3DA!important;
        box-shadow: none
}
.courses-container .courses .course .course-image .cover-image .learn-more {
    border-color: #54A3DA !important;
    background: #54A3DA !important;
}
.content-wrapper .course-tabs .nav-item.active .nav-link, .content-wrapper .course-tabs .nav-link {
    color: #54A3DA !important;
}
.wrapper-course-material .course-tabs .tab a, .wrapper-course-material .course-tabs .tab a:visited {
    color: #54A3DA !important;
    }

